.nav-overlay {
    height: 10vh;
    width: 100vw;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgba(255,255,255, 0.8);
    overflow-x: hidden; /* Disable horizontal scroll */
}

.nav-overlay-content {
    position: relative;
    width: 100vw;
    text-align: center;
    margin-top: 2vh;
}
